# API Function testing

Here we are going to create and test the functions for the API to see if they work properly

In [1]:
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2

In [69]:
df_developer = pd.read_csv(r"Api_DataFrame\developer.csv")
df_userdata = pd.read_csv(r"Api_DataFrame\userdata.csv")
df_best_developer_year= pd.read_csv(r"Api_DataFrame/best_developer_year.csv")
df_UserForGenre_genre = pd.read_csv(r"Api_DataFrame/UserForGenre_genre.csv")
df_UserForGenre_year = pd.read_csv(r"Api_DataFrame\UserForGenre_year.csv")
df_developer_reviews_analysis = pd.read_csv(r"Api_DataFrame\developer_reviews_analysis.csv")

We can make two functions, one to make an array, other to make a list. Since the arrays are better optimized, we will use an array

In [70]:
#this shows a list
def developer(developer: str):
    """This function shows the number of items and the percentage by year,
    by developer

    Args:
        developer (str): recibe el nombre de una empresa desarrolladora como cadena
    """
    aux = df_developer[["Year", "Total Items", "Percentage of Zero Price", "Developer"]]
    mask = aux.Developer == developer
    aux = df_developer[mask]
    
    years = aux["Year"].values
    num_items = aux["Total Items"].values
    percent_free_content = aux["Percentage of Zero Price"].values
    
    result = {"Year": years.tolist(), "Number of items": num_items.tolist(), "% of Free content": percent_free_content.tolist()}
    return result

In [71]:
developer("Valve")

{'Year': [1998,
  1999,
  2000,
  2001,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012],
 'Number of items': [1454493,
  1227537,
  2146498,
  683753,
  716398,
  10260415,
  2821935,
  4284788,
  4738919,
  1188147,
  3952228,
  887846,
  3149443,
  4120089],
 '% of Free content': [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.6949841155093933,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0]}

In [72]:
#and this an array
def developer(developer : str):
    """This function shows the number of items and the percentage by year, 
    by developer 

    Args:
        developer (str): recives the name of a developer company as a string
    """
    aux = df_developer[["Year","Total Items","Percentage of Zero Price","Developer"]]
    mask = aux.Developer == developer
    aux = df_developer[mask]
    dictionary = {"Year": aux["Year"].values, "Number of items": aux["Total Items"].values,
                  "% of Free content": aux["Percentage of Zero Price"].values} 
    return dictionary

In [73]:
developer("Valve")

{'Year': array([1998, 1999, 2000, 2001, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
        2010, 2011, 2012], dtype=int64),
 'Number of items': array([ 1454493,  1227537,  2146498,   683753,   716398, 10260415,
         2821935,  4284788,  4738919,  1188147,  3952228,   887846,
         3149443,  4120089], dtype=int64),
 '% of Free content': array([0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.69498412, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ])}

In [82]:
def userdata(User_id : str):  
    """this function returns the money spent by the user, and takes for argument his username as a string
    """
    mask = df_userdata["user_id"] == User_id
    df_userdata2 = df_userdata[mask]
    diccionary = {"User id": df_userdata2["user_id"].values[0], 
                  "Money spent": df_userdata2["money_spent"].values[0],
                  "recommendation %": df_userdata2["percentage_reviews"].values[0],
                  "amount of items":df_userdata2["items_count"].values[0]}
    return diccionary

In [83]:
userdata("-Zovix-")

{'User id': '-Zovix-',
 'Money spent': 13326.11,
 'recommendation %': 100.0,
 'amount of items': 552941.0}

In [84]:
df_UserForGenre_genre

           genre         user_id  playtime_genre
0          1980s           -Mad-             0.0
1          1980s  00690069006900             0.0
2          1980s   007james_bond            30.0
3          1980s        08alross             0.0
4          1980s          091263             0.0
...          ...             ...             ...
791030  e-sports          zuilde             7.0
791031  e-sports     zwanzigdrei           512.0
791032  e-sports  zyxwvutsrqponm             0.0
791033  e-sports           zzeee             1.0
791034  e-sports      zzzmidmiss            38.0

[791035 rows x 3 columns]

In [85]:
df_UserForGenre_year

           user_id  year  playtime_year
0          --000--  2006         1850.0
1          --000--  2009         5329.0
2          --000--  2010           66.0
3          --000--  2011        15564.0
4          --000--  2012       118326.0
...            ...   ...            ...
772333  zzzmidmiss  2011         2514.0
772334  zzzmidmiss  2012        14467.0
772335  zzzmidmiss  2013          423.0
772336  zzzmidmiss  2014          194.0
772337  zzzmidmiss  2016            0.0

[772338 rows x 3 columns]

In [ ]:
def UserForGenre( genero : str ): 
    #Debe devolver el usuario que acumula más horas jugadas para el género dado 
    # y una lista de la acumulación de horas jugadas por año de lanzamiento.
    
    return